*{
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkkhaki;
}

.oddFood {
    background-color: azure;
}

.evenFood {
    background-color: blanchedalmond;
}

.oddFood, .evenFood {
    text-align: center;
    color: black;
}

